{
  "Services": {
    "{{ tailscale_services_api_service_name }}": {
      "TCP": {
        "{{ tailscale_services_service.port }}": {
{% if tailscale_services_service.protocol == 'https' %}
          "HTTPS": true
{% else %}
          "HTTP": true
{% endif %}
        }
      },
      "Web": {
        "{{ tailscale_services_service.web_hostname }}:{{ tailscale_services_service.port }}": {
          "Handlers": {
            "/": {
              "Proxy": "{{ tailscale_services_service.destination | default('http://127.0.0.1:' ~ tailscale_services_service.port) }}"
            }
          }
        }
      }
    }
  }
}
